<h2>All Events</h2>

<%= link_to 'New Events', new_event_path %>
<% @events.each do |event| %>
	<p><strong><%= link_to event.title, event %></strong></p>
	<p><%= time_format(event.start_date) %></p>
	<p><%= time_format(event.end_date)%></p>
	<p><%= event.venue %></p>
	<p><%= event.location %></p>
<% end %>